_site
Thumbs.db
/.vs/MedemaLabsWebsite/v16/Server/sqlite3/storage.ide-wal
/.vs/MedemaLabsWebsite/v16/Server/sqlite3/storage.ide-shm
/.vs/MedemaLabsWebsite/v16/Server/sqlite3/storage.ide
/.vs/MedemaLabsWebsite/v16/Server/sqlite3/db.lock
