<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Medema Labs was started in 2019 as an extension of graduate research performed at Oregon State University. We are currently developing a suite of products to help merge state of the art optimization techniques with design for manufacturing and assembly.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2018</h4>
                                    <h4 class="subheading">Academic Research</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For a period of nine years, the founders worked in academia on federally funded projects leading
                                    to the work encapsulated in the Medema Labs tools. This work was done at University of Texas and at Oregon State University.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2019</h4>
                                    <h4 class="subheading">Medema Labs begins.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Since April 2019, the founders began exploring what commercial viability existed in spinning-out the research
                                        as a engineering software company.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May to November 2019</h4>
                                    <h4 class="subheading">Product Development for Part-Advisor and Assembly-Planner</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The research projects are situated with modern UI environments in order to provide the most
                                    use to customers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Be Part
                                    <br>Of Our
                                    <br>Story!
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                           <div class="timeline-body">
                                    <p class="text-muted">
                                        We are looking for hard-working resourceful computer programmers with understanding of computaional geometry, AI, and .NET programming. Enquire about joining our team.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
