<!-- Alpha Section -->
    <section id="betadesc">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Part Analyzer Alpha </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><b>Step 1: </b>Download the zip file of the application. The included folder includes all the binaries, and does not install as a proper application. Instead, you simply 
                        run the application by double clicking the shortcut "MedemaPartAnalyzer - Shortcut"</p>
                    </div>
            </div>
            <div class="row">
                <p><b>Step 2: </b>Watch the following instructional vidoe.</p>
                <div class="col-lg-12 col-md-offset-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/i7eM5mynXTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><b>Step 3: </b>Run the software. We have included five example parts that can be used in the main folder, but feel free to try additional ones.</p>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><b>Step 5: Feedback</b>Send us back the .log files in the bin directory. Also, email us your impressions at beta@medemalabs.com, 
                        or fill in our survey </p>
                    </div>
            </div>
        </div>
    </section>
