<!-- Alpha Section -->
    <section id="betadesc">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Part Analyzer Alpha </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><b>Step 1: </b>Download the <a href="https://drive.google.com/open?id=1ANAfTYKLFyTWdrnQiFQwvnQyWtUxftTn">zip file of the application</a>.
                         The included folder includes all the binaries, and does not install as a proper application. Instead, you simply 
                        run the application by double clicking the shortcut "MedemaPartAnalyzer - Shortcut". Note that the ease of not installing the software makes
                    Windows nervous and it'll warn you the first time you run it. Rest assured, the program only opens files you give it and saves files.</p><p><p><p>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <p><b>Step 2: </b>Watch the following instructional video.</p>
                <div class="col-lg-12 col-md-offset-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/I9atbxhUSEc" frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><b>Step 3: </b>Run the software. We have included five example parts that can be used in the main folder, but feel free to try additional ones.</p>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p><b>Step 4: </b>Email us your impressions at <a href="mailto:beta@medemalabs.com">beta@medemalabs.com</a>, 
                         fill in our <a href="https://docs.google.com/forms/d/13hTdWYVcqmp7rIUdKdEKV0ZV0h6Kk1i7bhroxvV7P0Y/">survey</a>,
                         or chat on our <a href="https://gitter.im/medemaPartAnalyzer/community">gitter page</a>.
                        If you run into errors, please send us back the .log files that are created in the bin directory</p> 
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Understand that all comments, written or verbal, are assumed to be provided without existing intellectual property restrictions 
                        and may be used to improve the software. Therefore, they may become the sole intellectual property of Medema Labs. </p>
                    </div>
            </div>

        </div>
    </section>
