<!-- Alpha Section -->
    <section id="betadesc">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Part Analyzer Help</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>This page is intended as an introduction to using Part Analyzer. At this time, the documentation is still in 
                        development. See this video for a basic introduction.
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-offset-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/I9atbxhUSEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>
            </div>
        </div>
    </section>
