<!-- Simulations Table of Contents -->
<section id="inputsoutputs">
    <div class="container">
        <div class="row">
            <h2 class="section-heading text-muted">What are the inputs and outputs?</h2>
            <h3 class="section-subheading text-muted">
                   Simply export your part or parts from CAD, tell PartAnalyzer about the material and quantity</h3>
                 <h3>The simulations will calculate the time and cost for your product. This includes
                     <li>a detailed gantt chart of steps,</li>
                     <li>a pie chart of costs,</li>
                     <li>the shapes and sizes of inputs stocks as well as shape details on intermediate steps</li>
                     <li>mulitple ways to make the part - including ways to simplify the part to further reduce cost</li>
        </div>
    </div>
</section>
