<!-- Marketing Intro Section -->
    <section id="intro_marketing">
        <div class="container">
            <div class="row">
                    <h2 class="section-heading text-muted">More than just Product Cost Management</h2>
                    <h3 class="section-subheading text-muted">
                            A challenge common to designing new products is finding the best way to manufacture. Medema Labs is here to help. We meld manufacturing know-how with computational advances into desktop applications situated between CAD and CAM. Our tools will tell you:
                          
                          <li>  The best way to make a single part  </li>
                        <li> Whether a single part should be divided into multiple  </li>
                    <li> Whether parts should be combined  </li>
                <li>  How to best assemble parts into your product  </li>
            <li>   Whether additive should be pursued over subtractive  </li>
                            
                            Join our beta-testers and try out Medema Part Analyzer for your industry.
                            
                    </h3>
            </div>
        </div>
    </section>
