<!-- Simulations Table of Contents -->
<section id="products">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading">...what type of simulations are currently in the works</h2>
          </div>
        </div>
        <div class="row">
          {% for page in site.pages %}
            {% if page.layout == 'page' %}
              <div class="col-md-4 col-sm-6 products-item">
                  <a href="/simulations/{{ page.url }}/" class="products-link">
                      <div class="products-hover">
                          <div class="products-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <img src="img/products/{{ page.thumbnail }}" class="img-responsive img-centered" height="200px" alt="{{ page.alt }}">
                  </a>
                  <div class="products-caption">
                      <h4>{{ page.title }}</h4>
                      <p class="text-muted">{{ page.subtitle }}</p>
                  </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
