<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who we are...</h2>
                    <h3 class="section-subheading text-muted">The foundation of Medema Labs
                        is currently being defined by its two founders: Drs. Matt
                        Campbell and Brandon Massoni. They have a combined twenty-five
                        years of experience in the space between mathematical programming
                        and mechanical design and manufacturing. As such, they are
                        uniquely posed to introduced advanced artificial intelligence
                        and computaional graphics algorithms to the mechanical design industry.
                        </h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We are looking to talented AI
                        specialists, UX experts, .NET programmers, and beta-testers.
                         Contact us via the form below to join our exciting team.
                         </div>
            </div>
        </div>
    </section>
