<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body id="page-top" class="index">
    {% include header.html %}
    <section id="basic content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center">
                    <h3 class="section-heading">Webinar: <span>Introduction to Medema Part Analyzer</span></h2>
                        <h3 class="section-subheading text-muted">
                            Watch our live demo on our recently launched desktop tool for predicting manufacturing.</h3>
                        <!-- </div>
            </div> -->
                        <!-- <div class="col-md-7 text-center"> -->
                        <img src="/img/webinar/mpa.png" class="img-responsive img-centered" alt="Medema Part Analyzer: Feedback on how best to manufacture your metal parts (with screenshots of the software).">
                        <!-- </div> -->
                        <div class="row text-left">
                            <!-- <div class="col-md-3 col-md-offset-1"> -->
                            <p>Join our webinar to learn how you can improve manufacturing cost estimates with Medema PartAnalyzer. We will show you how our desktop software takes your 3D digital files and optimizes over thousands of options to minimize
                                cost.
                            </p>
                            <p>PartAnalyzer is currently in Beta testing, and we are looking for industry partners to provide feedback and help develop the technology.
                            </p>
                            <p>We’ll also talk about our latest developments and how we intend to work directly with industry partners to improve feedback to design engineers and help manufacturer engineers respond quicker to RFQs.
                            </p>
                            <!-- </div> -->
                        </div>
    </section>
    <section id="webinarReg">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-8 col-md-offset-3"> -->
                <h3 class="section-subheading text-muted">Fill in your details below, and we will send you an invite to be used at either session:</h3>
                <ul>
                    <li>March 26th, 2020, 9:00am PT | 12:00pm (noon) ET</li>
                    <li>March 26th, 2020, 11:00am PT | 2:00pm (noon) ET</li>
                    <p/>
                </ul>
                <!-- </div> -->
            </div>
            <!-- </div> -->
            <form name="sentMessage" id="contactForm" novalidate>
                <!-- <div class="row"> -->
                <div class="col-md-3 col-md-offset-0 text-center">
                    <!-- <div class="col-md-6 col-md-offset-3"> -->
                    <div class="control-group form-group">
                        <input type="text" class="form-control" placeholder="First Name *" id="firstname" required data-validation-required-message="Please enter your first name.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group form-group">
                        <input type="text" class="form-control" placeholder="Last Name *" id="lastname" required data-validation-required-message="Please enter your last name.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <!-- <div class="col-md-6 col-md-offset-3"> -->
                    <div class="control-group form-group">
                        <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group form-group">
                        <input type="text" class="form-control" placeholder="Organization *" id="orgname" required data-validation-required-message="Please enter your organization/affiliation/employee.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div>
                    <!-- <div class="col-lg-12 text-center"> -->
                    <div id="success"></div>
                    <button type="submit" class="btn btn-xl">Submit</button>
                </div>
                <!-- </div> -->
            </form>
    </section>
    {% include footer.html %} {% include jsWebinarReg.html %}
</body>

</html>