<!DOCTYPE html>
<html>

  {% include head.html %}


<body id="page-top" class="index">

    {% include header.html %}
    <section>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div>
                      <h2 class="section-heading">{{ page.title }}</h2>
                      <hr class="star-primary">
                      <img src="/img/products/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                      <h3 class="section-subheading text-muted">{{ content }}</h3>
                  </div>
              </div>
          </div>
      </div>
    <section>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}

</body>
</html>
